<div class="card">
    <div class="card-header">
      Lista de Vehiculos
    </div>
    <div class="card-body">
    <div class="row">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Filtro:</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Marca" [(ngModel)]=" filtro" (blur)="consultaVehiculos()">
    </div>
  </div>
  <div class="row">
    <label for="exampleFormControlInput1" class="form-label">  FILTRADO POR: {{filtro}}  </label>
      
   
  </div>
  <div class="row">
    <div > 
      <a [routerLink]="['/vehiculo/']" class="btn btn-info">Nuevo Vehiculo</a></div>

  </div>

      <table class="table table-light">
        <thead>
          <tr>
            <td colspan="8">
            </td>
            <td>
              <div class="row">
               <div class="col">
                <select class="form-control" [(ngModel)]="rows"  (change)="consultaVehiculos()">
                  <option value="5">5 </option>
                  <option value="10">10 </option>
                  <option value="25">25</option>
                  <option value="100">100</option>
           
                </select>
               </div>
              </div>
              
            </td>
          </tr>
          <tr>
            <th scope="col-1">
              <button class="btn bn-sm" [ngClass]="{'btn-success': mostrarImagen, 'btn-warning': !mostrarImagen}"(click)="mostrar()">{{mostrarImagen ? 'Mostrar Imagen' : 'Ocultar Imagen'}}</button> 
            </th>
            <th scope="col">Codigo</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Año</th>
            <th scope="col">Kilometraje</th>
            <th scope="col">Precio</th>
            <th scope="col">Calificacion</th>
            <th scope="col">OP</th>
        
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaDeVehiculos">
           <td><img [src]="item.foto" style="width: 50px;" *ngIf="this.mostrarImagen"></td>
           <td>
            <a  [routerLink]="['/vehiculo/'+item.codigo]">
              {{item.codigo}} </a></td>
           <td>{{item.marca}}</td>
           <td>{{item.modelo | lowercase }}</td>
           <td [innerText]="item.anio"></td>
           <td>{{item.kilometraje}}</td>
           <td>{{item.precio | currency}}</td>
          
           <td> 
            <app-calificacion [calificacion]="item.calificacion" (accion)="recepcion($event)"></app-calificacion>
           </td>
           <td><div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info"> <a [routerLink]="['/vehiculo-edicion/'+item.codigo]" >Editar</a></button>
            <button type="button" class="btn btn-danger" (click)="eliminar(item.codigo)">Eliminar</button>
            
          </div></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" (click)="atras()">Atras</a></li>
                
                  <li class="page-item" *ngFor="let pagina of listaPaginas" [ngClass]="{'active': pagina == page}"><a class="page-link" (click)="cambiarPagina(pagina)">{{pagina}}</a></li>
               
                  <li class="page-item"><a class="page-link" (click)="siguiente()">Siguiente</a></li>
                </ul>
              </nav>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

